<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.car.dao.CourseDao" >
  <resultMap id="BaseResultMap" type="com.cn.car.entity.Course" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="course" property="course" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, course, startTime, endTime, teacher
  </sql>
 
 	<select id="list" resultMap="BaseResultMap" parameterType="com.cn.car.entity.Course">
		select
		<include refid="Base_Column_List" />
		from t_course
		<if test="course != null">
			where course = #{course,jdbcType=VARCHAR}
		</if>
		<if test="sortField != null and sortField != '' ">
		    order by ${sortField}   ${sortOrder}
		</if>
		<if test="pageSize != null">
			limit #{startIndex},#{pageSize}
		</if>
	</select>

	<select id="listCount" resultType="java.lang.Integer" parameterType="com.cn.car.entity.Course">
		select count(1) from t_course
		<if test="course != null">
			where course = #{course,jdbcType=VARCHAR}
		</if>
	</select> 
  	<select id="getCourse"  resultType="com.cn.car.entity.Course" parameterType="com.cn.car.entity.Course">
  	    select  * from t_course where  #{endTime,jdbcType=TIMESTAMP} > startTime and endTime > #{endTime,jdbcType=TIMESTAMP} 
  	</select>
	
	
	
	
	
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.car.entity.Course" >
    insert into t_course (id, course, startTime, 
      endTime, teacher)
    values (#{id,jdbcType=INTEGER}, #{course,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{teacher,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.car.entity.Course" >
    insert into t_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="course != null" >
        course,
      </if>
      <if test="startTime != null" >
        startTime,
      </if>
      <if test="endTime != null" >
        endTime,
      </if>
      <if test="teacher != null" >
        teacher,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="course != null" >
        #{course,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="teacher != null" >
        #{teacher,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.car.entity.Course" >
    update t_course
    <set >
      <if test="course != null" >
        course = #{course,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        startTime = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        endTime = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="teacher != null" >
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.car.entity.Course" >
    update t_course
    set course = #{course,jdbcType=VARCHAR},
      startTime = #{startTime,jdbcType=TIMESTAMP},
      endTime = #{endTime,jdbcType=TIMESTAMP},
      teacher = #{teacher,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>